.wrap {
    background-color: #000;
}
.wrap header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
    padding: 8px 150px;
}
.wrap header .left {}
.wrap header .left h1 {}
.wrap header .left h1 img {}
.wrap header .right {}
.wrap header .right_n1 {}
.wrap header .right_n1 a {
    margin-right: 20px;
}
.wrap header .right_n1 a:last-child {
    margin-right: 0;
}
.wrap header .right_n1 a span {
    font-size: 0.875rem;
    color: #fff;
}
.wrap header .right_n1 a span:hover{
    color: #dfa832e1;
    transition: 0.7s;
}
.wrap header .right_n2 {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    justify-content:flex-end;
    align-items: center;
}
.wrap header .right_n2 .search-box {
    border-bottom: 1px solid #fff;
}
.wrap header .right_n2 .search-box input {
    all: unset;
    color: #fff;
}
.wrap header .right_n2 .search-box input::placeholder {
    color: #fff;
}
.wrap header .right_n2 .search-box button {}
.wrap header .right_n2 .mypage {}
.wrap header .right_n2 .mypage img {}
.wrap header .right_n2 .cart {}
.wrap header .right_n2 .cart img {}
/* ---------------------------------------------------------헤더 끝 */
.wrap footer {
    padding: 60px 100px;
}   
.wrap footer .fwrap {
    display: flex;
    flex-flow: column wrap;
} 
.wrap footer .fwrap .f1r {
    display: flex;
    justify-content: space-between;
}
.wrap footer .top_zone1 {
    display: flex;
    gap: 80px;
}
.wrap footer .top_zone1 a {}
.wrap footer .top_zone1 a p {
    font-weight: 600;
    color: #fff;
}
.wrap footer .top_zone2 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.wrap footer .top_zone2 a {}
.wrap footer .f2r {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.wrap footer .under_left {}
.wrap footer .under_left .under {
    margin-bottom: 20px;
}
.wrap footer .under_left .under_n1 {}
.wrap footer .under_left .under_n1 p {
    text-align: left;
    color: #fff;
    margin-top: 8px;
}
.wrap footer .under_left .under_n1 p em {
    font-weight: 800;
    color: #fff;
}
.wrap footer .under_rigth {
    text-align: right;
}
.wrap footer .under_rigth .under_r1 {
    margin-bottom: 10px;
}
.wrap footer .under_rigth .under_r1 a {}
.wrap footer .under_rigth .under_r1 a p {
    font-weight: 700;
    color: #fff;
}
.wrap footer .under_rigth .under_n2 {
    margin-bottom: 10px;
}
.wrap footer .under_rigth .under_n2 em {
    font-weight: 700;
    color: #fff;
}
.wrap footer .under_rigth .under_n2 p {
    color: #fff;
}
.wrap footer .under_rigth .under_n3 {
    margin-bottom: 10px;
}
.wrap footer .under_rigth .under_n3 em {
    font-weight: 700;
    color: #fff;
}
.wrap footer .under_rigth .under_n3 p {
    color: #fff;
}
.wrap footer .under_rigth .under_n4 {
    margin-bottom: 10px;
}
.wrap footer .under_rigth .under_n4 em {
    font-weight: 700;
    color: #fff;
}
.wrap footer .under_rigth .under_n4 p {
    color: #fff;
}
@media screen and(max-width:1280px){}
@media screen and(max-width:780px){}